[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpx = "*"
pytest = "*"
pytest-asyncio = "*"

[packages]
aiofiles = "*"
fastapi = "*"
gunicorn = "*"
jinja2 = "*"
python-dotenv = "*"
python-multipart = "*"
tweepy = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
