[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpx = "*"
pytest = "*"
pytest-asyncio = "*"

[packages]
fastapi = "*"
gunicorn = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
